<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :per_page, params[:per_page] %>
<div class="per_page">
Per Page: <%[5,10,15,20].each { |e| %>
<%= perpage e %>
<% } %>
</div>
<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "price" %></th>
      <th><%= sortable "released_at", "Released" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <td><%= product.name %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td><%= product.released_at.strftime("%B %e, %Y") %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete", dataid:product.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @products %>